.breadcrumb-nav {
  background: white;
  border-radius: .25rem;
//  display: flex;
//  flex-direction: column;
//  & > ol {
//    padding: 1rem .75rem 0;
  //}
}
.breadcrumb {

  padding:0;
  margin: 0;
  background: white;
}