.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;

  &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
    background-color: darken($primary, 10);
    border-color: darken($primary, 10);
  }

  &.focus, &:focus {
    box-shadow: 0 0 0 .2rem fade_out($primary, .7);
  }

  &:hover {
    background-color: darken($primary, 15);
    border-color: darken($primary, 15);
  }
}